<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Find a day of the week</h1>

        <form class="" action="/result" method="post">
            <label for="">Convert a Number into Words:</label>
            <input type="text" name="input_number">
            <button type="submit" name="button">Convert</button>
        </form>
        <div class="result">
            {% if result %}
            <h2> {{result}}</h2>
            {% endif %}
        </div>
    </body>
</html>
